div#container-test
  form(id='form-test', method='post', action='/upload', enctype='multipart/form-data')
    input(type='file', name='upload') 
    input(type="submit", value="Upload file")
  p#text-test Wait while loading the file ... 
