!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    script(type='text/javascript', src='javascripts/vendor/json2.js')
    script(type='text/javascript', src='javascripts/vendor/d3/d3.js')
    script(type='text/javascript', src='javascripts/vendor/d3/d3.geom.js')
    script(type='text/javascript', src='javascripts/vendor/d3/d3.layout.js')
    script(type='text/javascript', src='javascripts/vendor/jquery/jquery-1.7.1.min.js')
    script(type='text/javascript', src='javascripts/vendor/backbone/underscore.js')
    script(type='text/javascript', src='javascripts/vendor/backbone/backbone.js')
    script(type='text/javascript', src='/javascripts/app.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
